<html>
<head>
  <title>"I love cats"</title>
</head>
<body align='center'>
<p>
  <h1>CATS ARE THE BEST ANIMALS EVER!!</h1>
  <br>
    <% if @cat_rating %>
     <img src='/images/kitten<%= @cat_rating %>.jpg' width='600'>
    <% else %>
  <form action="/cats">
  <img src='/images/kittycat.jpg' width='400'>
  <h2>How much do you love cats?</h2>
  <div float='center'>
    <input type="radio" name="cat_rating" value="1">A LOT<br>
    <input type="radio" name="cat_rating" value="2">So much<br>
    <input type="radio" name="cat_rating" value="3">I love them so much I want to die<br>
    <input type="radio" name="cat_rating" value="4">I hate cats<br><br>
    <input type="submit" value="meow">
  </div>
  </form>
  <% end %>
</p>


</body>

</html>